.main {
  font-size: 16px;
  background: linear-gradient(120deg, hsl(203, 92%, 75%), hsl(203, 92%, 55%));
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.calculator {
  border: solid 5px black;
  border-radius: 10px;
}

#display {
  height: 8em;
  background-color: whitesmoke;
  width: 100%;
 
}

/* --------------- btns ----------------------- */

.btns {
  display: grid;
  grid-template-areas: 
  "ac back div x"
  'sev eig nin subt'
  'fou fiv six addi'
  'one two thre equa'
  'zer zer dec equa'
  ;
}

#clear {
  grid-area: ac;
}

#backspace {
  grid-area: back;
}

#divide {
  grid-area: div;
}

#seven {
  grid-area: sev;
}

#eight {
  grid-area: eig;
}

#nine {
  grid-area: nin;
}

#multiply {
  grid-area: x;
} 

#four {
  grid-area: fou;
}

#five {
  grid-area: fiv;
}

#six {
  grid-area: six;
}

#subtract {
  grid-area: subt;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#thre {
  grid-area: thre;
}

#add {
  grid-area: addi;
}

#zero {
  grid-area: zer;
}

#decimal {
  grid-area: dec;
}

#equals {
  grid-area: equa;
}


.btn {
  padding: 20px 35px;
  border: solid 1px black;
}
