.main {
  font-size: 16px;
  background-color: ghostwhite;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-wrap {
 
}

.calculator {
  border: solid 1px black;
  width: 10em;
  height: 10em;
 
}